/* You can add global styles to this file, and also import other style files */
// src/styles/_variables.scss

// Colors
$primary-color: #2563eb;
$text-primary: #1f2937;
$text-secondary: #4b5563;
$border-color: #e5e7eb;

// Spacing
$spacing-unit: 1rem;